@import "tailwindcss";

html {
    box-sizing: border-box; /* Resetting the default box-sizing for better consistency */
    scroll-behavior: smooth; /* Setting universal font size to be utilised by 'rem' unit */
    font-size: 16px;
}